<div>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">Test400Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">Test401Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">Test404Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">Test500Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">Test400ValidationError</button>
</div>